* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 90%;
    margin: 2rem auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.square {
    width: calc(100% / 10);
    aspect-ratio: 1;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.odd {
    background-color: lightblue;
}

.even {
    background-color: lightgreen;
}